{
	"plugins": ["prettier-plugin-tailwindcss"],
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "none",
	"printWidth": 160,
	"overrides": [
		{
			"files": "**/*.json",
			"options": { "parser": "json-stringify" }
		}
	]
}
